Source: logstash-plugins
Section: python
Priority: optional
Maintainer: Filippo Giunchedi <fgiunchedi@wikimedia.org>
Build-Depends: debhelper (>= 10),
               docker.io | docker-ce
Standards-Version: 3.9.8

Package: logstash-plugins
Architecture: all
Depends: logstash-oss
Description: XXX
